.mat-raised-green-button {
  padding: 0;
  font-size: 13px;
}

.put-for-adoption-pets-data-container {
  min-width: 350px;
  width: 350px;
}

.gray-border {
  border: none;
  border-top: 2px solid green;
  border-radius: 4px;
}

.green-border {
  border: none;
  border-top: 2px solid lightgray;
  border-radius: 4px;
}
