<mat-toolbar class="toolbar-container" style="background: white">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="font-family: Ubuntu"
    >little<span style="color: black">Paws</span></span
  >
  <!-- <span></span> -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="login-signup-button" mat-menu-item>Login/Sign-up</button>
    <!-- <button mat-menu-item>Sign-up</button> -->
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav role="navigation" mode="over" [(opened)]="opened">
    <ul>
      <li>Home</li>
      <li>about</li>
      <li>contact us</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content role="main" class="sidenav-content-container">
    <div class="side-nav-content-container">
      some content

      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
