p{
    max-width: 500px;
}
.faq-container{
    height: 100%;
    position: absolute;
    top: 170px;
    right: 28%;
}
.faq-image{
    width: 430px;
    position: absolute;
    top: -215px;
    left: 50px;
}