<div class="faq-container">

<img class="faq-image" src="../../../assets/images/faq_images/14.png"/>


<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    How Do I Search For a Pet?
</mat-panel-title>
</mat-expansion-panel-header>
<p>Enter your location and select the gender of pet & click on search we will locate the pets near you.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    Is therer any charge for adoption?
</mat-panel-title>
</mat-expansion-panel-header>
<p>No, there is no charge its a free adoption service. </p>
</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    Why Should I Foster a Pet
</mat-panel-title>
</mat-expansion-panel-header>
<p>As a foster parent, you will be able to love, care for, and enjoy knowing different animals. And you will be doing a wonderful thing – giving these deserving animals a chance at a new life.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    What Will I Need To Do As A Foster Parent?
</mat-panel-title>
</mat-expansion-panel-header>
<p>Foster homes are responsible for feeding, exercising, socialising, grooming, reinforcing basic obedience instructions, studying and evaluating overall behaviour and temperament, and, of course, providing patience, love, and security to the fostered cat or dog on a regular basis. It's important to remember that all of the animals are rescues, and their behaviour might be unpredictable. Prepare yourself for some initial adjustment challenges. Being in a new scenario can be stressful for both you and your pet. Wait patiently. We will offer advice and encouragement if the going gets tough.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    What If I Want To Travel?
</mat-panel-title>
</mat-expansion-panel-header>
<p>If you are fostering and want to go away for a weekend or take a vacation, the foster cat or dog can be returned to the coordinator`s care while you are away. Just arrange it in advance, as soon as you know, and we’ll reserve a spot.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    How Do I Search For a Pet?
</mat-panel-title>
</mat-expansion-panel-header>
<p> Enter your location and select the gender of pet & click on search we will locate the pets near you.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    How long does the adoption process take?
</mat-panel-title>
</mat-expansion-panel-header>
<p>The adoption process takes about 1-2 days in most cases.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    Can I request a particular breed?
</mat-panel-title>
</mat-expansion-panel-header>
<p>No.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    I’d Like To Foster. What Do I Do Next?
</mat-panel-title>
</mat-expansion-panel-header>
<p>If you are interested in fostering, please complete and submit a volunteer application. You will need to complete a volunteer orientation and volunteer at the shelter before becoming a foster volunteer.</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
    What if it Doesn’t Work Out With My New Pet?
</mat-panel-title>
</mat-expansion-panel-header>
<p>While we always recommend giving your new pet significant time to adjust to its new environment, if your new pet does not work out for any reason, you are able to come in for an exchange within 30 days of adoption. OC Animal Care does not offer refunds for returned pets. If you would like to return your pet after 30 days you will need follow the owner surrender process and pay all applicable owner surrender fees.</p>
</mat-expansion-panel>




</mat-accordion>
</div>