<html>
  <body>
    <head>
      <!-- For fa fa icons -->
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      />
    </head>

    <div class="aboutus-container">
      <!-- Section 1 -->

      <img [src]="image4" class="banner" />

      <!-- Section 2 -->
      <h1 class="question-title">How and why littlpaws was developed ?</h1>
      <hr />

      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <div class="aboutus-para">
            <p style="font-family: serif">
              <i><span>little</span>Paws</i> a website where ou can find your
              companion or find a foster for a companion. This idea hit our mind
              when we found a kitten with no mother around and no siblings so we
              decided to take it to our home until we find a foster for the
              kitten. Days passed and we were unable to find any foster we
              talked to our friends we came in contact with somer social media
              platform which not worked. As in india we haven't find any website
              for pet adoption , being a computer science student we the student
              of Msc Computer Science came up with this idea named
              <i><span>little</span>Paws</i> which turned out to be out
              Mini-Project for Angular.
            </p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="aboutus-image-container">
            <img
              class="aboutus-image"
              src="assets/images/aboutus_images/aboutus_image2.jpg"
            />
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="aboutus-image-container">
            <img
              class="aboutus-image-2"
              src="assets/images/aboutus_images/aboutus_image3.jpg"
            />
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="aboutus-para-2">
            <p style="font-family: serif">
              According to a new survey, India has roughly 6.2 crore stray dogs
              and 91 lakh street cats, with 77% of the population reporting
              seeing a stray dog at least once a week. The statistics from
              India's State of Pet Homelessness Index also revealed a
              significant frequency of stray populations, lowering the country's
              'All Pets Wanted' score. On a scale of one to ten, India received
              a 2.4. "Nearly 68 percent [almost 7 in 10] of the population says
              they see a stray cat at least once a week, while nearly 77 percent
              [8 in 10] say they see a stray dog on a weekly basis," according
              to the report. The index also said that 85 per cent of companion
              animals in India are homeless.Not only in India but According to
              the report, there are 7.5 crore estimated homeless cats and dogs
              in China, 4.8 crore in the US, 20.6 lakh in Germany, 20 lakh in
              Greece, 74 lakh in Mexico, 41 lakh each in Russia and South
              Africa, and 11 lakh in the UK.
            </p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="section-2"></div>

      <div class="section-2"></div>
      <hr />

      <!-- Section 3 -->

      <div class="card-container">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Ratings</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/aboutus_images/20.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              4.5
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half-o"></span>
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Adoption Done</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/aboutus_images/18.png"
            style="height: 260px; width: auto; margin-left: 10px"
          />
          <mat-card-content>
            <p id="counter" class="info-aboutus">
              {{ num }} <i class="fa fa-plus"></i>
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Up For Adoption</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/aboutus_images/4.jpeg"
          />
          <mat-card-content>
            <p class="info-aboutus">100 <i class="fa fa-plus"></i></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </body>
</html>
